<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ user_name }}</h2>
    <h3>Available Movies:</h3>
    <ul>
        {% for movie in movies %}
        <li>
            <strong>{{ movie.MovieName }}</strong><br>
            Show: {{ movie.MovieShow }}<br>
            Venue: {{ movie.Venue }}<br>
            <a href="/book/{{ movie.MovieName }}">Book Ticket</a>
        </li><br>
        {% endfor %}
    </ul>

    <a href="/cancel">Cancel Ticket</a> |
    <a href="/logout">Logout</a>
</body>
</html>
