<!DOCTYPE html>
<html>
<head>
    <title>Update Movie</title>
</head>
<body>
    <h2>Update Movie</h2>
    <form method="POST">
        <label>Movie Name to Update:</label><br>
        <input type="text" name="old_name" required><br><br>

        <label>New Show Date & Time:</label><br>
        <input type="datetime-local" name="new_showtime"><br><br>

        <label>New Venue:</label><br>
        <input type="text" name="new_venue"><br><br>

        <button type="submit">Update Movie</button>
    </form>
</body>
</html>
