<!DOCTYPE html>
<html>
<head>
    <title>Visitor Page</title>
</head>
<body>
    <h2>Welcome Visitor!</h2>
    
    <h3>Available Movies</h3>
    <ul>
        {% for movie in movies %}
        <li>
            <strong>{{ movie.MovieName }}</strong> - {{ movie.MovieShow }} - {{ movie.Venue }}
        </li>
        {% endfor %}
    </ul>

    <p>Want to book tickets? <a href="/register">Register here</a></p>
    <p>Already registered? <a href="/login">Login</a></p>
</body>
</html>
